
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(133, 1, 1);
    /*margin:0px 0px 0px 250px;
    /*margin-left: 270px;*/
    display: inline-block;  
   padding: 10px;
   align-content: center;
}
h1{
    text-align: center;
    align-content: center;
    display:inline-block;
    margin: 10px;
    padding: 15px;
    margin-left: 150px;
    
      
}
a{
            color: rgb(196, 121, 0);
            display: inline-block;
            margin: 2px;
            background-color: rgb(92, 10, 10);
            border-radius:10px ;
                   
}
.d, .a , .b, .c{
    align-content: center;
    text-align: center;
    margin: 20px;
    display: inline-block;
   
    
}
.d{
    
    display: inline-block;
    align-content: center;
    text-align: center;
    margin-left: 150px;       
}
.a{
    
    
    display: inline-block;
    align-content: center;
    text-align: center;
    

   
}
.b{
   
    display: inline-block;   
    align-content: center;
    text-align: center;
    
    
}
.c{
    display: inline-block;
    align-content: center;
    text-align: center;        
}

img{
display: block;
margin: 0 auto; 
width: 100%;
height: 700px;
}

p{
    color: brown;
}
h2{
    align-content: center;
    text-align: center;
    background-color: rgba(175, 3, 3, 0.501);
    height: 50px;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(112, 9, 0);
}