.s{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    align-content: center;
    position: sticky;
    padding:15px;
    margin:10px;
    border:2px solid;
    display:inline-block;
    top:0;
   
}
.o{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 179, 0);
    align-content: center;
    position: sticky;
    padding:15px;
    margin:80px;
    border:2px solid;
    display:inline-block;
    top:0;
    left: 10;
}
.f{
    height: 20px;
    width: 20px;
    background-color: rgb(34, 255, 0);
    align-content: center;
    position: sticky;
    padding:15px;
    margin:150px;
    border:2px solid;
    display:inline-block;
    top:0;
    left:20;
}
.i{
    height: 20px;
    width: 20px;
    background-color: rgb(0, 13, 255);
    align-content: center;
    position: sticky;
    padding:15px;
    margin:220px;
    border:2px solid;
    display:inline-block;
    top:0;
}
.a{
    height: 20px;
    width: 20px;
    background-color: rgb(250, 0, 167);
    align-content: center;
    position: sticky;
    padding:15px;
    margin:290px;
    border:2px solid;
    display:inline-block;
    top:0;
    left:40;
}