.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(65, 1, 65);  
  
}
h3{
    color: white;
    text-align: center;
    align-content: center;
}
.mlateral{
    position: fixed;
    background-color: rgba(240, 170, 248, 0.308);
    width: 250px; 
    height: 800px;
    top: 60px;
    left:0;
    display: inline-block;
    text-align: center;
    align-content: center;
}

.corpo{
    width:auto;
    height:auto;
    margin:0px 0px 0px 250px;
    margin-left: 270px;
    display: inline-block;  
   padding: 20px; 
    margin-top: 60px;
}



